<mat-toolbar color="primary">
  
  <span>Green Coding</span>
  <span class="example-spacer"></span>
  
  
  <button mat-raised-button (click)="openDialog()">Item</button>

</mat-toolbar>



<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- itemCode Column -->
        <ng-container matColumnDef="itemCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ItemCode </th>
          <td mat-cell *matCellDef="let row"> {{row.itemCode}} </td>
        </ng-container>
    
        <!-- kitchen Column -->
        <ng-container matColumnDef="kitchen">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Kitchen </th>
          <td mat-cell *matCellDef="let row"> {{row.kitchen}}</td>
        </ng-container>
    
        <!-- itemName Column -->
        <ng-container matColumnDef="itemName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ItemName </th>
          <td mat-cell *matCellDef="let row"> {{row.itemName}} </td>
        </ng-container>
    
        <!-- category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
          <td mat-cell *matCellDef="let row"> {{row.category.value}} </td>
        </ng-container>

        <!-- subCategory Column -->
        <ng-container matColumnDef="subCategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SubCategory </th>
          <td mat-cell *matCellDef="let row"> {{row.subCategory}} </td>
        </ng-container>

         <!-- itemSize Column -->
         <ng-container matColumnDef="itemSize">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ItemSize </th>
          <td mat-cell *matCellDef="let row"> {{row.itemSize}} </td>
        </ng-container>

        <!-- itemSize Column -->
        <ng-container matColumnDef="costPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CostPrice ($) </th>
          <td mat-cell *matCellDef="let row"> {{row.costPrice}} </td>
        </ng-container>

        <!-- itemSize Column -->
        <ng-container matColumnDef="takeAwayPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TakeAwayPrice ($) </th>
          <td mat-cell *matCellDef="let row"> {{row.takeAwayPrice}} </td>
        </ng-container>

        <!-- itemSize Column -->
        <ng-container matColumnDef="dineInPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DineInPrice ($) </th>
          <td mat-cell *matCellDef="let row"> {{row.dineInPrice}} </td>
        </ng-container>

        <!-- itemSize Column -->
        <ng-container matColumnDef="webPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> WebPrice ($) </th>
          <td mat-cell *matCellDef="let row"> {{row.webPrice}} </td>
        </ng-container>

         <!-- itemSize Column -->
         <ng-container matColumnDef="serviceCharge">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ServiceCharge </th>
          <td mat-cell *matCellDef="let row"> {{row.serviceCharge}}% </td>
        </ng-container>

         <!-- itemCode Column -->
         <ng-container matColumnDef="devices">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Devices </th>
          <td mat-cell *matCellDef="let row"> <span *ngFor="let device of row.devices">{{device.name}}&nbsp;</span></td>
        </ng-container>

        


    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    

  </div>

</div>